.brand-logo {
  margin:0px auto;
}

.brand-logo strong {
  color: #6f9ff7;
}

.c-table-news tbody tr:nth-of-type(odd) {
  background-color: #fff !important;
}
.c-table-news td img {
  border-radius:0px !important;
}
.c-table-package-highlight tbody tr:nth-of-type(odd) {
  background-color: #fff !important;
}
.c-table-package-highlight body tr:nth-of-type(odd) {
  background-color: #fff !important;
}
.c-table-package-highlight td img {
  width: 60px;
  height: 60px;
  border-radius:0px !important;
}
.c-danger {
  color: #F56C6C
}
.c-brand {
  font-size: 18px;
}
.c-brand-sub {
  text-align: justify;
}
.c-register-brand {
  width: 150px;
}
.c-follow-us{
  background: #dddce1;
  padding: 30px 2.45rem;
}
.c-follow-us .btn-social-icon {
  width: 30px;
  height:30px;
}
.c-hotline{
  border: none;
  background: #fff;
  border-top: 1px solid #e3e3e3;
}
.c-hotline h3{  
    border: none;
    font-size: 14px;
    margin-right: 10px;
}
.c-hotline .justify-content-xl-between{
  justify-content: unset !important;
}
.c-hotline .ti-headphone{
  font-size: 15px;
}
.sidebar .nav.sub-menu {
  padding:0.25rem 0 0 0.8rem;
}
.sidebar .nav.sub-menu .nav-item::before{
  background: none !important;
}
.c-card-not-border{
  border:none;
}
.c-green-color{
  color:#5c9e20;
}
.c-center {
  text-align:center;
}
.c-block-menu{
  border-bottom: #e4e4e4 1px solid;
}
.c-white-bold{
  color: #fff;
  font-weight: bold;  
}
.nav-item.nav-search {
  background: #f1f3f4;
}
.navbar{
  box-shadow: 0 5px 3px -5px #cdd1e1;
}
.navbar .navbar-brand-wrapper .navbar-brand img{
  margin-left:15px;
}
.c-table-news tr td{
  padding: 1.05rem 0.1rem 1.05rem  0.9375rem;
}
.c-table-package-highlight tr td{
 padding: 0.5rem 0.1rem 0.5rem 0.9375rem
}
.navbar .navbar-menu-wrapper .navbar-nav .nav-item.nav-search {
  border-radius: 7px;   
}
.card .card-title {
  margin-bottom: 5px !important;
}
.c-bold {
  font-weight:bold;
}
.c-table-package-highlight .py-1 {
  width:75px
}
.c-table-news .py-1 {
  width:40px
}
.c-table-package-highlight tr td:not(.c-title,.c-center) {
  font-size:13px;
}
.nav-item:not(.sub-menu):hover {
  background: #f7f7f7;
  border-radius: 5px;
}
.menu-title:not(.sub-menu.menu-title):hover {
  background: #f7f7f7;
}
td.c-title {
  width:300px;
}
.avatar-uploader .el-upload {
  border: 1px dashed #d9d9d9;
  border-radius: 6px;
  cursor: pointer;
  position: relative;
  overflow: hidden;
}
.avatar-uploader .el-upload:hover {
  border-color: #409EFF;
}
.avatar-uploader-icon {
  font-size: 28px;
  color: #8c939d;
  width: 178px;
  height: 178px;
  line-height: 178px !important;
  text-align: center;
}
.avatar {
  width: 178px;
  height: 178px;
  display: block;
}
.el-tag + .el-tag {
  margin-left: 10px;
}
.button-new-tag {
  margin-left: 10px;
  height: 32px;
  line-height: 30px;
  padding-top: 0;
  padding-bottom: 0;
}
.input-new-tag {
  width: 90px !important;
  margin-left: 10px;
  vertical-align: bottom;
}
.c-border-bottom {
    border-bottom: solid 1px #e3e3e3;;
    padding-bottom: 5px !important;
}
.c-top-10 {
  margin-top:10px;
}
.c-width-100{
  width:100px;
}