.brand-logo {
  margin:0px auto;
}

.brand-logo strong {
  color: #6f9ff7;
}

.c-table-news tbody tr:nth-of-type(odd) {
  background-color: #fff !important;
}
.c-table-news td img {
  border-radius:0px !important;
}
.c-table-package-highlight tbody tr:nth-of-type(odd) {
  background-color: #fff !important;
}
.c-table-package-highlight body tr:nth-of-type(odd) {
  background-color: #fff !important;
}
.c-table-package-highlight td img {
  width: 60px;
  height: 60px;
  border-radius:0px !important;
}
.c-danger {
  color: #F56C6C
}
.c-brand {
  font-size: 18px;
}
.c-brand-sub {
  text-align: justify;
}
.c-register-brand {
  width: 150px;
}
.c-follow-us{
  background: #dddce1;
  padding: 30px 2.45rem;
}
.c-follow-us .btn-social-icon {
  width: 30px;
  height:30px;
}
.c-hotline{
  border: none;
  background: #fff;
  border-top: 1px solid #e3e3e3;
}
.c-hotline h3{  
    border: none;
    font-size: 14px;
    margin-right: 10px;
}
.c-hotline .justify-content-xl-between{
  justify-content: unset !important;
}
.c-hotline .ti-headphone{
  font-size: 15px;
}
.sidebar .nav.sub-menu {
  padding:0.25rem 0 0 0.8rem;
}
.sidebar .nav.sub-menu .nav-item::before{
  background: none !important;
}
.c-card-not-border{
  border:none;
}
.c-green-color{
  color:#5c9e20;
}
.c-center {
  text-align:center;
}
.c-block-menu{
  border-bottom: #e4e4e4 1px solid;
}
.c-white-bold{
  color: #fff;
  font-weight: bold;  
}
.nav-item.nav-search {
  background: #f1f3f4;
}
.navbar{
  box-shadow: 0 5px 3px -5px #cdd1e1;
}
.navbar .navbar-brand-wrapper .navbar-brand img{
  margin-left:15px;
}
.c-table-news tr td{
  padding: 1.05rem 0.1rem 1.05rem  0.9375rem;
}
.c-table-package-highlight tr td{
 padding: 0.5rem 0.1rem 0.5rem 0.9375rem
}
.navbar .navbar-menu-wrapper .navbar-nav .nav-item.nav-search {
  border-radius: 7px;   
}
.card .card-title {
  margin-bottom: 5px !important;
}
.c-bold {
  font-weight:bold;
}
.c-table-package-highlight .py-1 {
  width:75px
}
.c-table-news .py-1 {
  width:40px
}
.c-table-package-highlight tr td:not(.c-title,.c-center) {
  font-size:13px;
}
.nav-item:not(.sub-menu):hover {
  background: #f7f7f7;
  border-radius: 5px;
}
.menu-title:not(.sub-menu.menu-title):hover {
  background: #f7f7f7;
}
td.c-title {
  width:300px;
}
.avatar-uploader .el-upload {
  border: 1px dashed #d9d9d9;
  border-radius: 6px;
  cursor: pointer;
  position: relative;
  overflow: hidden;
}
.avatar-uploader .el-upload:hover {
  border-color: #409EFF;
}
.avatar-uploader-icon {
  font-size: 28px;
  color: #8c939d;
  width: 178px;
  height: 178px;
  line-height: 178px !important;
  text-align: center;
}
.avatar {
  width: 178px;
  height: 178px;
  display: block;
}
.el-tag + .el-tag {
  margin-left: 10px;
}
.button-new-tag {
  margin-left: 10px;
  height: 32px;
  line-height: 30px;
  padding-top: 0;
  padding-bottom: 0;
}
.input-new-tag {
  width: 90px !important;
  margin-left: 10px;
  vertical-align: bottom;
}
.c-border-bottom {
    border-bottom: solid 1px #e3e3e3;;
    padding-bottom: 5px !important;
}
.c-top-10 {
  margin-top:10px;
}
.c-width-100{
  width:100px;
}
.c-image-200-200 {
  width:200px;
}
.c-image-document {
  width:100%;
}
.c-block-package .card-body{
  padding:0px !important;
}
.c-red {
  color: #fc9ca7;
}
.c-image-flex{
  margin: 0.5rem 0.5rem !important;
}
.c-description-package{
  margin: -30px 0px 0px -20px !important;
}
.upload-demo {
  text-align:center;
  width:100% !important;
  min-height: 300px !important;
}
.el-upload.el-upload--text {
  width:100% !important; 
  height:100%;
}
.el-upload-dragger {
  width:100% !important; 
  height:100% !important;
}
ul.el-upload-list.el-upload-list--text {
  display: none;
}
.el-upload-dragger .el-icon-upload {
  margin: 100px 0px 16px !important;
}
.c-price {
  position: absolute;
  bottom: 0.5rem; 
}
.c-left-5 {
  margin-left:5px;
}
.c-left-20 {
  margin-left:20px;
}
.c-title {
  margin-top: 0.5rem;
  font-weight:bold;
}
.c-i-info i:not(:first-child) {
    margin-left:20px;
}
.c-price {
  padding-top: 75px;    
}
.drop-active {
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  position: fixed;
  z-index: 9999;
  opacity: .6;
  text-align: center;
  background: #000;
}
.drop-active h3 {
  margin: -.5em 0 0;
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  font-size: 40px;
  color: #fff;
  padding: 0;
}
.c-short-border-bottom {
  width: 130px;
  border-bottom: 2px solid #ffca41;
}
.c-min-height-300 {
  min-height: 300px;
}
.table-focus tbody tr:active {
  background-color: #eaeaf1;
}

.table-focus tr:hover>td {
  background-color: #fff !important;
}

.table-focus tr.current-row>td {
  background-color: #efefef !important;
}

.c-hidden {
  display: none;
}
.el-table tr:hover>td{
  background-color: #fff;
}
.hover-row > td {
  background-color: initial !important;
}
.c-row-active {
  background-color: #efefef !important;
}
.c-info-drop-file {
  height : 500px;
}
.c-info-drop-file .el-alert__description{
  font-size: 20px !important;
}
.c-doc-preview {
  width: 100%;
  height: 800px;
}
.c-document-detail td{
  vertical-align : top !important;
  border: none !important;
}
.c-font-size-25 {
  font-size: 25px;
}
.c-text {
  font-size: 14px;
}
.c-item {
  margin-bottom: 18px;
}
.c-pre-wrap{
  white-space: pre-wrap;
}
.c-block-package img{
  width: 100px !important;
  height: unset !important;
  border-radius: unset !important;
}
.c-block-package span {
  vertical-align: top;
}

.c-block-comment {
  margin-bottom: 5px;
}

.c-block-comment img{
  width: 100% !important;
  height: 100% !important;
}
.c-comment i  {
  color : #f5a623;
}
.c-title-package span{
  font-size: 15px;
  font-weight: bold;
}
.c-title-package i {
  color: #f5a623;
}
.c-block-price span:first-of-type{
  font-weight: bold;
}
.c-block-description span:first-of-type{
  font-weight: bold;
}
.c-block-keyword span:first-of-type{
  font-weight: bold;
}
.c-term-content {
    height: 500px;
    overflow: scroll;
    border: solid 1px #e3e3e3;
    padding: 10px;
}
.c-term .row .template-demo {
  margin: 0px auto;
}
.c-bank-account .el-select {
  width:100%;
}
.c-font-16 {
  font-size: 16px;
}
span.c-name-package {
  vertical-align: top;
  position: relative;
  top: 13px;
}
.c-package-managerment .float-right i {
  font-size: 26px;
  vertical-align: middle;   
}
.c-color-green {
  color:#67C23A;
}
