<!DOCTYPE html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>Tailieuchuan.vn</title>
  <!-- plugins:css -->
  <link rel="stylesheet" href="../../vendors/ti-icons/css/themify-icons.css">
  <link rel="stylesheet" href="../../vendors/base/vendor.bundle.base.css">
  <!-- endinject -->
  <!-- inject:css -->
  <link rel="stylesheet" href="../../css/style.css">
  <!-- endinject -->
  <link rel="shortcut icon" href="../../images/favicon.png" />
  <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
</head>

<body>
  <div class="container-scroller">
    <!-- partial:../../partials/_navbar.html -->
    <nav class="navbar col-lg-12 col-12 p-0 fixed-top d-flex flex-row">
      <div class="text-center navbar-brand-wrapper d-flex align-items-center justify-content-center">
        <a class="navbar-brand brand-logo mr-5" href="index.html"><img src="../../images/brand.png" class="mr-2" alt="logo"></a>
        <a class="navbar-brand brand-logo-mini" href="index.html"><strong>TLC</strong></a>
      </div>
      <div class="navbar-menu-wrapper d-flex align-items-center justify-content-end">
        <!-- <button class="navbar-toggler navbar-toggler align-self-center" type="button" data-toggle="minimize">
          <span class="ti-view-list"></span>
        </button> -->
        <ul class="navbar-nav mr-lg-2">
          <li class="nav-item nav-search d-none d-lg-block">
            <div class="input-group">
              <div class="input-group-prepend hover-cursor" id="navbar-search-icon">
                <span class="input-group-text" id="search">
                  <i class="ti-search"></i>
                </span>
              </div>
              <input type="text" class="form-control" id="navbar-search-input" placeholder="Tìm kiếm" aria-label="search" aria-describedby="search">
            </div>
          </li>
          <li class="nav-item dropdown mr-1">
             <a class="nav-link count-indicator dropdown-toggle d-flex justify-content-center align-items-center" id="messageDropdown" href="#" data-toggle="dropdown">
              <i class="ti-shopping-cart mx-0"></i>
            </a>
          </li>
          <li class="nav-item dropdown mr-1">
            <a class="nav-link count-indicator dropdown-toggle d-flex justify-content-center align-items-center" id="messageDropdown" href="#" data-toggle="dropdown">
              <i class="ti-email mx-0"></i>
            </a>
            <div class="dropdown-menu dropdown-menu-right navbar-dropdown" aria-labelledby="messageDropdown">
              <p class="mb-0 font-weight-normal float-left dropdown-header">Messages</p>
              <a class="dropdown-item">
                <div class="item-thumbnail">
                    <img src="../../images/faces/face4.jpg" alt="image" class="profile-pic">
                </div>
                <div class="item-content flex-grow">
                  <h6 class="ellipsis font-weight-normal">David Grey
                  </h6>
                  <p class="font-weight-light small-text text-muted mb-0">
                    The meeting is cancelled
                  </p>
                </div>
              </a>
              <a class="dropdown-item">
                <div class="item-thumbnail">
                    <img src="../../images/faces/face2.jpg" alt="image" class="profile-pic">
                </div>
                <div class="item-content flex-grow">
                  <h6 class="ellipsis font-weight-normal">Tim Cook
                  </h6>
                  <p class="font-weight-light small-text text-muted mb-0">
                    New product launch
                  </p>
                </div>
              </a>
              <a class="dropdown-item">
                <div class="item-thumbnail">
                    <img src="../../images/faces/face3.jpg" alt="image" class="profile-pic">
                </div>
                <div class="item-content flex-grow">
                  <h6 class="ellipsis font-weight-normal"> Johnson
                  </h6>
                  <p class="font-weight-light small-text text-muted mb-0">
                    Upcoming board meeting
                  </p>
                </div>
              </a>
            </div>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link count-indicator dropdown-toggle" id="notificationDropdown" href="#" data-toggle="dropdown">
              <i class="ti-bell mx-0"></i>
              <span class="count"></span>
            </a>
            <div class="dropdown-menu dropdown-menu-right navbar-dropdown" aria-labelledby="notificationDropdown">
              <p class="mb-0 font-weight-normal float-left dropdown-header">Notifications</p>
              <a class="dropdown-item">
                <div class="item-thumbnail">
                  <div class="item-icon bg-success">
                    <i class="ti-info-alt mx-0"></i>
                  </div>
                </div>
                <div class="item-content">
                  <h6 class="font-weight-normal">Application Error</h6>
                  <p class="font-weight-light small-text mb-0 text-muted">
                    Just now
                  </p>
                </div>
              </a>
              <a class="dropdown-item">
                <div class="item-thumbnail">
                  <div class="item-icon bg-warning">
                    <i class="ti-settings mx-0"></i>
                  </div>
                </div>
                <div class="item-content">
                  <h6 class="font-weight-normal">Settings</h6>
                  <p class="font-weight-light small-text mb-0 text-muted">
                    Private message
                  </p>
                </div>
              </a>
              <a class="dropdown-item">
                <div class="item-thumbnail">
                  <div class="item-icon bg-info">
                    <i class="ti-user mx-0"></i>
                  </div>
                </div>
                <div class="item-content">
                  <h6 class="font-weight-normal">New user registration</h6>
                  <p class="font-weight-light small-text mb-0 text-muted">
                    2 days ago
                  </p>
                </div>
              </a>
            </div>
          </li>
        </ul>
        <ul class="navbar-nav navbar-nav-right">
          <li class="nav-item nav-profile dropdown">
            <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown" id="profileDropdown">
              <img src="../../images/faces/face28.jpg" alt="profile"/>
            </a>
            <div class="dropdown-menu dropdown-menu-right navbar-dropdown" aria-labelledby="profileDropdown">
              <a class="dropdown-item">
                <button type="button" class="btn btn-social-icon-text btn-google"><i class="ti-google"></i>Đăng nhập bằng Google   </button>
              </a>
              <a class="dropdown-item">
                <button type="button" class="btn btn-social-icon-text btn-facebook"><i class="ti-facebook"></i>Đăng nhập bằng Facebook</button>
              </a>
              <a class="dropdown-item">
                <i class="ti-power-off text-primary"></i>
                Logout
              </a>
            </div>
          </li>
        </ul>
        <button class="navbar-toggler navbar-toggler-right d-lg-none align-self-center" type="button" data-toggle="offcanvas">
          <span class="ti-view-list"></span>
        </button>
      </div>
    </nav>
    <!-- partial -->
    <div class="container-fluid page-body-wrapper fixed-left">
      <!-- partial:../../partials/_sidebar.html -->
      
      <nav class="sidebar sidebar-offcanvas fixed-left" id="sidebar">
        <ul class="nav">
          <div class="c-block-menu">
            <li class="nav-item">
              <a class="nav-link" data-toggle="collapse" href="#" aria-expanded="false" aria-controls="ui-basic" data-target="#ui-basic">
                <i class="ti-wallet menu-icon"></i>
                <span class="menu-title">Danh mục tài liệu</span>
                <i class="menu-arrow"></i>
              </a>
              <div class="collapse" id="ui-basic">
                <ul class="nav flex-column sub-menu">
                  <li class="nav-item"> 
                    <a class="nav-link" data-toggle="collapse" collapse-attr="submenu" aria-expanded="false" aria-controls="ui-basic-sub1" data-target="#ui-basic-sub1">
                      <i class="ti-folder menu-icon"></i>
                      <span class="menu-title">Tài liệu toán THPT</span>
                      <i class="menu-arrow"></i>
                    </a>
                    <div class="collapse" id="ui-basic-sub1">
                      <ul class="nav flex-column sub-menu">
                        <li class="nav-item"> 
                          <a class="nav-link" href="#">
                            <i class="ti-folder menu-icon"></i>
                            <span class="menu-title">Tài liệu toán THPT</span>
                            <i class="menu-arrow"></i>
                          </a>
                        </li>
                        <li class="nav-item"> 
                          <a class="nav-link" href="#">
                            <i class="ti-folder menu-icon"></i>
                            <span class="menu-title">Tài liệu toán THPT</span>
                            <i class="menu-arrow"></i>
                          </a>
                        </li>
                      </ul>
                    </div>
                  </li>
                  <li class="nav-item"> 
                    <a class="nav-link" data-toggle="collapse" aria-expanded="false" href="#" aria-controls="ui-basic-sub2" data-target="#ui-basic-sub2">
                      <i class="ti-folder menu-icon"></i>
                      <span class="menu-title">Tài liệu toán THPT</span>
                      <i class="menu-arrow"></i>
                    </a>
                    <div class="collapse" id="ui-basic-sub2">
                      <ul class="nav flex-column sub-menu">
                        <li class="nav-item"> 
                          <a class="nav-link" href="#">
                            <i class="ti-folder menu-icon"></i>
                            <span class="menu-title">Tài liệu toán THPT</span>
                            <i class="menu-arrow"></i>
                          </a>
                        </li>
                        <li class="nav-item"> 
                          <a class="nav-link" href="#">
                            <i class="ti-folder menu-icon"></i>
                            <span class="menu-title">Tài liệu toán THPT</span>
                            <i class="menu-arrow"></i>
                          </a>
                        </li>
                      </ul>
                    </div>
                  </li>
                </ul>
              </div>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">
                <i class="ti-layout-list-post menu-icon"></i>
                <span class="menu-title">Danh sách tác giả</span>
              </a>
            </li>
          </div>
          <div class="c-block-menu">
            <li class="nav-item">
              <a class="nav-link" href="#">
                <i class="ti-pie-chart menu-icon"></i>
                <span class="menu-title">Tài liệu mới đăng</span>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">
                <i class="ti-star menu-icon"></i>
                <span class="menu-title">Tài liệu miễn phí</span>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">
                <i class="ti-star menu-icon"></i>
                <span class="menu-title">Gói tài liệu giảm giá</span>
              </a>
            </li>
          </div>
          <div class="c-block-menu">
            <li class="nav-item">
              <a class="nav-link" href="#">
                <i class="ti-write menu-icon"></i>
                <span class="menu-title">Tin tức</span>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">
                <i class="ti-clipboard menu-icon"></i>
                <span class="menu-title">Hướng dẫn sử dụng</span>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">
                <i class="ti-user menu-icon"></i>
                <span class="menu-title">Đăng ký CTV nội dung</span>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">
                <i class="ti-user menu-icon"></i>
                <span class="menu-title">Đăng ký CTV kinh doanh</span>
              </a>
            </li>
          </div>
          
          <li>
            <div class="card c-hotline">
              <div class="card-body">
                <div class="d-flex flex-wrap justify-content-between justify-content-md-center justify-content-xl-between align-items-center">
                  <h3 class="mb-0 mb-md-2 mb-xl-0 order-md-1 order-xl-0">Hỗ trợ viên 24/7</h3>
                  <i class="ti-headphone icon-md text-muted mb-0 mb-md-3 mb-xl-0"></i>
                </div>  
                <p class="mb-0 mt-2 text-danger">19001900</span></p>
              </div>
            </div>
          </li>
        </ul>
      </nav>
      
      <!-- partial -->
      <div class="main-panel" id="app">          
        <div class="content-wrapper">
          <div class="row">
            <div class="col-md-12 grid-margin stretch-card">
              <el-breadcrumb separator="/">
                <el-breadcrumb-item>Trang chủ</el-breadcrumb-item>
                <el-breadcrumb-item><a href="/">Tài liệu THPT</a></el-breadcrumb-item>
                <el-breadcrumb-item>Toán lớp 9</el-breadcrumb-item>
              </el-breadcrumb>
            </div>
            <div class="col-md-12 grid-margin stretch-card">
              <div class="card position-relative c-block-package">
                <div class="card-body">
                  <div class="row">
                    <div class="col-md-12 col-xl-3 d-flex flex-column justify-content-center">
                      <div class="ml-xl-4 c-image-flex">
                        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQYkUFCETV4qCxeuMnoy3Bt6WACIcg2OTMhKpBtCwkUwpTTAMD6" class="c-image-document" alt="">
                      </div>  
                    </div>
                    <div class="col-md-12 col-xl-9">
                      <p class="font-weight-ligh c-title">Lorem ipsum dolor sit amet.</p>
                      <p class="font-weight-ligh c-i-info">
                          <i class="ti-notepad"></i> <span class="c-left-5">Tài liệu toán THPT</span>
                          <i class="ti-notepad"></i> <span class="c-left-5">Toán 10 | Toán 11</span>
                          <i class="ti-notepad"></i> <span class="c-left-5">124 Tài liệu</span>
                      </p>
                      <div class="c-price">
                        <i class="ti-money"></i> <span class="text-danger">300,000 VND</span>   
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-12 grid-margin stretch-card c-description-package">
              <div class="card c-card-not-border">
                <div class="row">
                  <div class="col-md-12">
                    <div class="card-body">
                      <h4 class="card-title c-border-bottom c-short-border-bottom">Giới thiệu chi tiết</h4>
                      <div class="c-border-bottom">
                        <p class="card-description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Incidunt aliquid laudantium animi nobis saepe adipisci ea assumenda modi accusantium, et eum deleniti harum pariatur beatae eligendi temporibus soluta, iusto sed recusandae libero dolorum excepturi sunt! Natus aliquid non sint consectetur voluptas ipsum, quas, temporibus dolore labore quia libero quos, sapiente fugit. Temporibus quidem accusantium voluptas laudantium doloribus totam ea earum recusandae dolores eum impedit error nobis officia quas, excepturi reiciendis ad doloremque architecto itaque dolor sed ipsa. Placeat mollitia quibusdam nihil atque suscipit nisi eos assumenda eligendi inventore amet quae voluptatem ab distinctio, saepe hic quidem, veritatis in veniam deleniti!</p>
                        <br>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-12 grid-margin stretch-card c-description-package">
              <div class="card c-card-not-border">
                <div class="row">
                  <div class="col-md-12">
                    <div class="card-body">
                      <h4 class="card-title c-border-bottom">Lorem ipsum dolor sit amet.</h4>
                      <br>
                      <div v-if="!(files.length || folders.length)">
                          <el-alert
                            class="c-info-drop-file"
                            center
                            height="300px"
                            description="Kéo thả file để upload"
                            :closable="false"
                            type="info">
                          </el-alert>
                      </div>
                      <div v-if="folders.length > 0">
                        <div class="row">
                          <div class="table-responsive c-table-folders">
                            <el-table
                              @row-click="clickRow"
                              highlight-current-row
                              fit
                              class="table-focus"
                              :data="folders"
                              style="width: 100%">
                              <el-table-column
                                prop="name"
                                label="Tên">
                              </el-table-column>
                              <el-table-column
                                prop="name"
                                label="Ngày tạo"
                                width="180">
                                <template>
                                    2019-07-19 00:00:00
                                </template>
                              </el-table-column>
                              <el-table-column
                                label="Số tài liệu"
                                width="180">
                                <template>
                                    10
                                </template>
                              </el-table-column>
                            </el-table>
                          </div>
                        </div>
                      </div>
                      <div class="table-responsive c-table-document" v-if="files.length > 0">
                        <el-table
                          ref="tableDocument"
                          highlight-current-row
                          fit
                          class="table-focus" 
                          :row-class-name="setRowClassName"
                          @row-click="clickRowDocument"
                          :data="documents"
                          style="width: 100%">
                          <el-table-column
                            prop="name"
                            label="Tên tài liệu mới đăng">
                          </el-table-column>
                          <el-table-column
                            prop="comment_count"
                            label="Bình luận"
                            width="100">
                          </el-table-column>
                          <el-table-column
                            prop="status"
                            label="Trạng thái"
                            width="100">
                          </el-table-column>
                          <el-table-column
                            prop="downloaded_count"
                            label="Lượt tải"
                            width="100">
                          </el-table-column>
                          <el-table-column
                            prop="price"
                            label="Giá bán lẻ"
                            width="120">
                          </el-table-column>
                          <el-table-column
                            prop="size"
                            label="Kích thước"
                            width="100">
                          </el-table-column>
                        </el-table>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-12 grid-margin stretch-card c-file-managerment c-hidden">
              <div class="card c-card-not-border">
                <div class="row">
                  <div class="col-md-12">
                    <div class="card-body">
                      <div class="row">
                        <!-- <div v-show="$refs.upload && $refs.upload.dropActive" class="drop-active">
                          <h3>Drop files to upload</h3>
                        </div> -->
                        <file-upload
                          post-action="/upload/post"
                          :multiple="true"
                          :drop="true"
                          :drop-directory="true"
                          v-model="files"
                          ref="upload">
                        </file-upload>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="c-block-dialog">
              <el-dialog title="Tạo thư mục con" :visible.sync="createFolderVisible" width="20%">
                <el-form :model="folder">
                  <el-form-item label="Tên thư mục">
                    <el-input v-model="folder.name" autocomplete="off"></el-input>
                  </el-form-item>
                </el-form>
                <span slot="footer" class="dialog-footer">
                  <el-button type="primary" @click="createFolder">Tạo</el-button>
                </span>
              </el-dialog>
              <el-dialog title="Cập nhật thông tin tài liệu" :visible.sync="updateDocumentVisible">
                <el-form label-position="right" label-width="150px" :model="document">
                  <el-form-item label="Tên">
                    <el-input v-model="document.name"></el-input>
                  </el-form-item>
                  <el-form-item label="Giá bán">
                    <el-input v-model="document.price"></el-input>
                  </el-form-item>
                </el-form>
                <span slot="footer" class="dialog-footer">
                  <el-button type="primary" @click="updateDocumentVisible=false">Cập nhật</el-button>
                </span>
              </el-dialog>
              <el-dialog title="Cập nhật thông tin tài liệu" :visible.sync="priceDialogVisible">
                <el-form label-position="right" label-width="150px">
                  <el-form-item label="Giá">
                    <el-input v-model="price"></el-input>
                  </el-form-item>
                </el-form>
                <span slot="footer" class="dialog-footer">
                  <el-button type="primary" @click="updateAllPrice">Cập nhật</el-button>
                </span>
              </el-dialog>
            </div>
          </div>
        </div>
        <!-- content-wrapper ends -->
        <!-- partial:../../partials/_footer.html -->
        <!-- partial -->
      </div>
      <!-- main-panel ends -->
    </div>
    <!-- page-body-wrapper ends -->

    <div class="row c-follow-us">
      <div class="col-lg-5">
        Follow us on:
        <button type="button" class="btn btn-social-icon btn-outline-facebook"><i class="ti-facebook"></i></button>
        <button type="button" class="btn btn-social-icon btn-outline-youtube"><i class="ti-youtube"></i></button>                                        
        <button type="button" class="btn btn-social-icon btn-outline-twitter"><i class="ti-twitter-alt"></i></button>
        <button type="button" class="btn btn-social-icon btn-outline-dribbble"><i class="ti-dribbble"></i></button>
        <button type="button" class="btn btn-social-icon btn-outline-linkedin"><i class="ti-linkedin"></i></button>
        <button type="button" class="btn btn-social-icon btn-outline-google"><i class="ti-google"></i></button>
      </div>
    </div>
    <footer class="footer">
      <div class="row">
        <div class="col-lg-5">
          <p class="c-brand">TAILIEUCHUAN</p> 
          <p class="c-brand-sub">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Obcaecati facere omnis provident incidunt numquam illum, sequi reiciendis ullam nobis praesentium iure, fugiat quisquam, nemo voluptate maxime nostrum mollitia nihil sed.</p>
        </div>
        <div class="col-lg-5">
          <p class="c-brand">LIÊN HỆ</p> 
          <p>CÔNG TY CỔ PHẦN GIÁO DỤC TRỰC TUYẾN ALADANH</p>
          <p class="c-brand-sub">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dicta reprehenderit nulla similique molestias minus, repellat.</p>
        </div>
        <div class="col-lg-2">
          <p class="c-brand-sub">Chính sách và quy định chung chính sách bảo mật thông tin</p> 
          <img src="http://online.gov.vn/PublicImages/2015/08/27/11/20150827110756-dadangky.png" class="c-register-brand" alt="">
        </div>
      </div>
    </footer>
  </div>
  <!-- container-scroller -->
  <!-- plugins:js -->
  <script src="../../vendors/base/vendor.bundle.base.js"></script>
  <!-- endinject -->
  <!-- inject:js -->
  <script src="../../js/off-canvas.js"></script>
  <script src="../../js/hoverable-collapse.js"></script>
  <script src="../../js/template.js"></script>
  <script src="../../js/todolist.js"></script>
  <!-- import Vue before Element -->
  <script src="https://unpkg.com/vue/dist/vue.js"></script>
  <!-- import JavaScript -->
  <script src="https://unpkg.com/element-ui/lib/index.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-contextmenu/2.7.1/jquery.contextMenu.min.css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-contextmenu/2.7.1/jquery.contextMenu.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-contextmenu/2.7.1/jquery.ui.position.js"></script>
  <script src="https://unpkg.com/vue-upload-component"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/collect.js/4.13.0/collect.js"></script>
  <script>
      new Vue({
        el: '#app',
        data: function () {
          return {
            files: [],
            folders : [],
            documents : [],
            document:{},
            selections : [],
            price : 0,
            folder: {
              name: '',
            },
            createFolderVisible: false,
            updateDocumentVisible: false,
            priceDialogVisible: false,
          }
        },
        components: {
          FileUpload: VueUploadComponent
        },
        watch: {
          files: function() {
            let self = this;
            self.documents = [];
            for (var i = 0; i <= this.files.length; i++) {
              if (self.files[i]) {
                this.documents.push({
                  'index' : i,
                  'name' : self.files[i].name ? self.files[i].name : '',
                  'status' : 'Ẩn',
                  'comment_count' : 0,
                  'downloaded_count' : 0,
                  'price' : '0 VND',
                  'created_at' : '',
                  'size' : '0 MB',
                })
              }
            }
          }
        },
        created() {
            let self = this;
            $.contextMenu({
                selector: '#app', 
                callback: function(key, options) {
                  if (key == "create_folder") {
                    self.createFolderVisible = true;
                  }
                    // var m = "clicked: " + key + " on " + $(this).text();
                    // window.console && console.log(m) || alert(m); 
                },
                items: {
                    "create_folder": {name: "Tạo thư mục mới"},
                    "cut": {name: "Tải tệp lên"},
                    "sep1": "---------",
                    "quit": {name: "Đóng", icon: function(){
                        return 'context-menu-icon context-menu-icon-quit';
                    }}
                }
            });
            $.contextMenu({
                selector: '.c-row-action', 
                callback: function(key, options) {
                  if (key == "edit") {
                    self.updateDocumentVisible = true;
                    let index = $(this).children('.c-index').text();
                    self.document = self.documents[index];
                  }

                  if (key == "update_price") {
                    self.priceDialogVisible = true;
                  }
                    // var m = "clicked: " + key + " on " + $(this).text();
                    // window.console && console.log(m) || alert(m); 
                },
                items: {
                    "edit": {name: "Cập nhật thông tin"},
                    'update_price' : {name : "Cập nhật giá"},
                    "delete": {name: "Xóa"},
                    "sep1": "---------",
                    "quit": {name: "Đóng", icon: function(){
                        return 'context-menu-icon context-menu-icon-quit';
                    }}
                }
            });
        },
        methods: {
          setRowClassName(data) {
            let element = this.selections.filter(function(el) {
                return el.index === data.rowIndex;
            });

            if (element.length > 0) {
              return "c-row-action c-row-index-" + data.rowIndex + ' c-row-active';
            }

            return "c-row-action c-row-index-" + data.rowIndex
          },
          updateAllPrice(){
            this.priceDialogVisible=false;
            for(let i=0; i< this.selections.length; i++) {
              this.selections[i].price = this.price;
            }
          },
          clickRowDocument(row, column, event) {
            if (event.ctrlKey) {
              let element = this.selections.filter(function(el) {
                  return el.index === row.index;
              });

              if (element.length == 0) {
                this.selections.push(row);
              }
            } else {
              this.selections = [];
              $('.table-focus tbody tr').removeClass('c-row-active');
              this.selections.push(row);
            }
          },
          clickRow(row, column, event) {
            $(this).addClass('active');
          },
          changeColor(index){
              $('.table-focus tbody tr').removeClass('active');
              $(".c-index-" + index).addClass('active');
          },
          inputFile: function (newFile, oldFile) {
            if (newFile && oldFile && !newFile.active && oldFile.active) {
              // Get response data
              console.log('response', newFile.response)
              if (newFile.xhr) {
                //  Get the response status code
                console.log('status', newFile.xhr.status)
              }
            }
          },
          inputFilter: function (newFile, oldFile, prevent) {
            if (newFile && !oldFile) {
              // Filter non-image file
              if (!/\.(jpeg|jpe|jpg|gif|png|webp)$/i.test(newFile.name)) {
                return prevent()
              }
            }

            // Create a blob field
            newFile.blob = ''
            let URL = window.URL || window.webkitURL
            if (URL && URL.createObjectURL) {
              newFile.blob = URL.createObjectURL(newFile.file)
            }
          },
          createFolder() {
            this.folders.push({name : this.folder.name});
            this.createFolderVisible = false;
          }
        }
      });
  </script>
  <!-- endinject -->
</body>

</html>
